:root {
  --primary-color: #f38d68;
  --dark-text: #333;
  --light-text: #fff;
  --background-light: #f9f9f9;
  --border-color: #eee;
  --partition-icon-color: #4CAF50;
  --audio-icon-color: #007bff;
  --header-bg: #FFDDCC;
  --card-background: #ffffff;
  --shadow-subtle: 0 4px 12px rgba(0,0,0,0.08);
  --admin-color: #ffd700;
  --moderator-color: #5bc0de;
  --member-color: #5cb85c;
  --delete-color: #dc3545;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}